Input Object   Directory   Reference   |Eta| Min   |Eta| Max   L1 PT Min   Reference Iso  Quality  DR Cut   Type / Region IsolationBB IsolationEC Histogram   Binning for PT       Binning for eta         Binning for iso         Binning for dxy        Thresholds
# PuppiMET                                                                          
PuppiMET PuppiMET MET   -1 -1 -1 -1 None  -1 -1 -1 -1 PuppiMET 100   0  1000  50 -3 3  200   0  5  100   0  10 HT
# TrackerMET                                                                           
TrackerMET  TrackerMET  MET   -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerMET  100   0  1000  50 -3 3  200   0  5  100   0  10  HT
TrackerMET  TrackerMETCharged ChargedMET  -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerMETCharged 100   0  1000  50 -3 3  200 0  5  100   0  10 HT
