Input Object   Directory   Reference   |Eta| Min   |Eta| Max   L1 PT Min   Reference Iso  Quality  DR Cut   Type / Region IsolationBB IsolationEC Histogram   Binning for PT       Binning for eta         Binning for iso         Binning for dxy        Thresholds
# Gen objects                                                                          
Gen   GenElectron Electron -1 2.4   -1 -1 None  -1 -1 -1 -1 GenElectron 100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
Gen   GenMuon  Muon  -1 2.4   -1 -1 None  -1 -1 -1 -1 GenMuon  100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Gen
Gen   GenPhoton   Photon   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenPhoton   100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
Gen   GenJet   GenJet   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenJet   200   0  600   50 -3 3  200   0  5  100   0  10 Gen
Gen   GenTau   Tau   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenTau   100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Gen
Gen   GenVisTau   VisTau   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenVisTau   100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
# PFPhase1 HT, MHT                                                                           
Phase1PuppiHT0 Phase1PuppiHT  HT30  -1 -1 -1 -1 None  -1 -1 -1 -1 Phase1PuppiHT  200   0  1200  50 -3 3  200   0  5  100 0  10 HT
Phase1PuppiMHT0   Phase1PuppiMHT15  MHT15 -1 -1 -1 -1 None  -1 -1 -1 -1 Phase1PuppiMHT15  200   0  1200  50 -3 3  200 0  5  100   0  10 HT
Phase1PuppiMHT0   Phase1PuppiMHT30  MHT30 -1 -1 -1 -1 None  -1 -1 -1 -1 Phase1PuppiMHT30  200   0  1200  50 -3 3  200 0  5  100   0  10 HT
Phase1PuppiMET Phase1PuppiMET MET   -1 -1 -1 -1 None  -1 -1 -1 -1 Phase1PuppiMET 100   0  1000  50 -3 3  200   0  5  100 0  10 HT
# PuppiMET                                                                          
PuppiMET PuppiMET MET   -1 -1 -1 -1 None  -1 -1 -1 -1 PuppiMET 100   0  1000  50 -3 3  200   0  5  100   0  10 HT
# CaloHT                                                                         
CaloHT0  CaloHT   HT30  -1 -1 -1 -1 None  -1 -1 -1 -1 CaloHT   200   0  1200  50 -3 3  200   0  5  100   0  10 HT
# TrackerHT                                                                         
TrackerHT0  TrackerHT   HT30  -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerHT   200   0  1200  50 -3 3  200   0  5  100   0  10  HT
TrackerHT0  TrackerHTCharged  ChargedHT30 -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerHTCharged  200   0  1200  50 -3 3  200 0  5  100   0  10 HT
# TrackerHT                                                                         
TrackerMHT0 TrackerMHT  MHT30 -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerMHT  100   0  1000  50 -3 3  200   0  5  100   0  10  HT
TrackerMHT0 TrackerMHTCharged ChargedMHT30   -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerMHTCharged 100   0  1000  50 -3 3  200 0  5  100   0  10 HT
TrackerMHT0 TrackerMHTMET  MET   -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerMHTMET  100   0  1000  50 -3 3  200   0  5  100 0  10 HT
TrackerMHT0 TrackerMHTChargedMET ChargedMET  -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerMHTChargedMET 100   0  1000  50 -3 3 200   0  5  100   0  10 HT
# TrackerMET                                                                           
TrackerMET  TrackerMET  MET   -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerMET  100   0  1000  50 -3 3  200   0  5  100   0  10  HT
TrackerMET  TrackerMETCharged ChargedMET  -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerMETCharged 100   0  1000  50 -3 3  200 0  5  100   0  10 HT
