Input Object   Directory   Reference   |Eta| Min   |Eta| Max   L1 PT Min   Reference Iso  Quality  DR Cut   Type / Region IsolationBB IsolationEC Histogram   Binning for PT       Binning for eta         Binning for iso         Binning for dxy        Thresholds
# Gen objects                                                                          
Gen   GenElectron Electron -1 2.4   -1 -1 None  -1 -1 -1 -1 GenElectron 100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
Gen   GenMuon  Muon  -1 2.4   -1 -1 None  -1 -1 -1 -1 GenMuon  100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Gen
Gen   GenPhoton   Photon   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenPhoton   100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
Gen   GenJet   GenJet   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenJet   200   0  600   50 -3 3  200   0  5  100   0  10 Gen
Gen   GenTau   Tau   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenTau   100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Gen
Gen   GenVisTau   VisTau   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenVisTau   100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
# TkMuon, no quality selection vs with quality selection in endcap                                                                         
TkMuon   TkMuon   Muon  -1 2.4   -1 -1 None  0.1   -1 -1 -1 TkMuon   100   0  150   30 -3 3  200   0  5  110   0  110 Muon
TkMuon   TkMuonIso   Muon  -1 2.4   -1 0.15  None  0.1   -1 -1 -1 TkMuonIso   100   0  150   30 -3 3  200   0  5  110 0  110   Muon
TkMuon   TkMuonIsoE  Muon  -1 2.8   -1 0.15  None  0.1   3  -1 -1 TkMuonIsoE  100   0  150   30 -3 3  200   0  5  110 0  110   Muon
TkMuon   TkMuonIsoB  Muon  -1 2.8   -1 0.15  None  0.1   1  -1 -1 TkMuonIsoB  100   0  150   30 -3 3  200   0  5  110 0  110   Muon
TkMuon   TkMuonIsoO  Muon  -1 2.8   -1 0.15  None  0.1   2  -1 -1 TkMuonIsoO  100   0  150   30 -3 3  200   0  5  110 0  110   Muon
TkMuon   TkMuonIsoExtended Muon  -1 2.8   -1 0.15  None  0.1   4  -1 -1 TkMuonIsoExtended 100   0  150   30 -3 3  200 0  5  110   0  110   Muon
TkMuon   TkMuonIsoEEta  Muon  1.24  2.4   -1 0.15  None  0.1   -1 -1 -1 TkMuonIsoEEta  100   0  150   30 -3 3  200   0   5  110   0  110   Muon
TkMuon   TkMuonIsoBEta  Muon  -1 0.83  -1 0.15  None  0.1   -1 -1 -1 TkMuonIsoBEta  100   0  150   30 -3 3  200   0  5   110   0  110   Muon
TkMuon   TkMuonIsoOEta  Muon  0.83  1.24  -1 0.15  None  0.1   -1 -1 -1 TkMuonIsoOEta  100   0  150   30 -3 3  200   0   5  110   0  110   Muon
TkMuon   TkMuonIsoExtendedEta Muon  2.4   2.8   -1 0.15  None  0.1   -1 -1 -1 TkMuonIsoExtendedEta 100   0  150   30 -3  3  200   0  5  110   0  110   Muon
TkMuon   TkMuonLDR   Muon  -1 2.8   -1 -1 None  1  -1 -1 -1 TkMuonLDR   100   0  150   30 -3 3  200   0  5  110   0  110 Muon
TkMuon   TkMuonQual  Muon  -1 2.4   -1 -1 EndcapJaana1345   0.1   -1 -1 -1 TkMuonQual  100   0  150   30 -3 3  200   0   5  110   0  110   Muon
TkMuon   TkMuonQualIso  Muon  -1 2.4   -1 0.15  EndcapJaana1345   0.1   -1 -1 -1 TkMuonQualIso  100   0  150   30 -3 3 200   0  5  110   0  110   Muon
TkMuon   TkMuonQualIsoE Muon  -1 2.8   -1 0.15  EndcapJaana1345   0.1   3  -1 -1 TkMuonQualIsoE 100   0  150   30 -3 3 200   0  5  110   0  110   Muon
TkMuon   TkMuonQualIsoB Muon  -1 2.8   -1 0.15  EndcapJaana1345   0.1   1  -1 -1 TkMuonQualIsoB 100   0  150   30 -3 3 200   0  5  110   0  110   Muon
TkMuon   TkMuonQualIsoO Muon  -1 2.8   -1 0.15  EndcapJaana1345   0.1   2  -1 -1 TkMuonQualIsoO 100   0  150   30 -3 3 200   0  5  110   0  110   Muon
TkMuon   TkMuonQualIsoExtended   Muon  -1 2.8   -1 0.15  EndcapJaana1345   0.1   4  -1 -1 TkMuonQualIsoExtended   100 0  150   30 -3 3  200   0  5  110   0  110   Muon
TkMuon   TkMuonQualIsoEEta Muon  1.24  2.4   -1 0.15  EndcapJaana1345   0.1   -1 -1 -1 TkMuonQualIsoEEta 100   0  150 30 -3 3  200   0  5  110   0  110   Muon
TkMuon   TkMuonQualIsoBEta Muon  -1 0.83  -1 0.15  EndcapJaana1345   0.1   -1 -1 -1 TkMuonQualIsoBEta 100   0  150   30  -3 3  200   0  5  110   0  110   Muon
TkMuon   TkMuonQualIsoOEta Muon  0.83  1.24  -1 0.15  EndcapJaana1345   0.1   -1 -1 -1 TkMuonQualIsoOEta 100   0  150 30 -3 3  200   0  5  110   0  110   Muon
TkMuon   TkMuonQualIsoExtendedEta   Muon  2.4   2.8   -1 0.15  EndcapJaana1345   0.1   -1 -1 -1 TkMuonQualIsoExtendedEta 100   0  150   30 -3 3  200   0  5  110   0  110   Muon
TkMuon   TkMuonQualLDR  Muon  -1 2.8   -1 -1 EndcapJaana1345   1  -1 -1 -1 TkMuonQualLDR  100   0  150   30 -3 3  200 0  5  110   0  110   Muon
# GMTTkMuon muon                                                                          
GMTTkMuon   GMTTkMuon   Muon  -1 2.4   -1 -1 None  0.1   -1 -1 -1 GMTTkMuon   100   0  150   30 -3 3  200   0  5  110 0  110   Muon
GMTTkMuon   GMTTkMuonIso   Muon  -1 2.4   -1 0.15  None  0.1   -1 -1 -1 GMTTkMuonIso   100   0  150   30 -3 3  200   0   5  110   0  110   Muon
GMTTkMuon   GMTTkMuonIsoBarrel   Muon  -1 0.83  -1 0.15  None  0.1   -1 -1 -1 GMTTkMuonIsoBarrel   100   0  150   30 -3  3  200   0  5  110   0  110   Muon
GMTTkMuon   GMTTkMuonIsoEndcap   Muon  0.83  2.4   -1 0.15  None  0.1   -1 -1 -1 GMTTkMuonIsoEndcap   100   0  150   30  -3 3  200   0  5  110   0  110   Muon
GMTTkMuon   GMTTkMuonIsoE  Muon  -1 2.4   -1 0.15  None  0.1   3  -1 -1 GMTTkMuonIsoE  100   0  150   30 -3 3  200   0   5  110   0  110   Muon
GMTTkMuon   GMTTkMuonIsoB  Muon  -1 2.4   -1 0.15  None  0.1   1  -1 -1 GMTTkMuonIsoB  100   0  150   30 -3 3  200   0   5  110   0  110   Muon
GMTTkMuon   GMTTkMuonIsoO  Muon  -1 2.4   2.4   0.15  None  0.1   2  -1 -1 GMTTkMuonIsoO  100   0  150   30 -3 3  200 0  5  110   0  110   Muon
GMTTkMuon   GMTTkMuonIsoEEta  Muon  1.24  2.4   -1 0.15  None  0.1   -1 -1 -1 GMTTkMuonIsoEEta  100   0  150   30 -3 3 200   0  5  110   0  110   Muon
GMTTkMuon   GMTTkMuonIsoBEta  Muon  -1 0.83  -1 0.15  None  0.1   -1 -1 -1 GMTTkMuonIsoBEta  100   0  150   30 -3 3  200 0  5  110   0  110   Muon
GMTTkMuon   GMTTkMuonIsoOEta  Muon  0.83  1.24  -1 0.15  None  0.1   -1 -1 -1 GMTTkMuonIsoOEta  100   0  150   30 -3 3 200   0  5  110   0  110   Muon
GMTTkMuon   GMTTkMuonLDR   Muon  -1 2.4   -1 -1 None  1  -1 -1 -1 GMTTkMuonLDR   100   0  150   30 -3 3  200   0  5  110 0  110   Muon
# GMTTkMuon muon NStubs                                                                         
GMTTkMuon   GMTTkMuonNStubs   Muon  -1 2.4   -1 -1 NStubsFlag2 0.1   -1 -1 -1 GMTTkMuonNStubs   100   0  150   30 -3 3 200   0  5  110   0  110   Muon
GMTTkMuon   GMTTkMuonNStubsIso   Muon  -1 2.4   -1 0.15  NStubsFlag2 0.1   -1 -1 -1 GMTTkMuonNStubsIso   100   0  150 30 -3 3  200   0  5  110   0  110   Muon
GMTTkMuon   GMTTkMuonNStubsIsoBarrel   Muon  -1 0.83  -1 0.15  NStubsFlag2 0.1   -1 -1 -1 GMTTkMuonNStubsIsoBarrel   100 0  150   30 -3 3  200   0  5  110   0  110   Muon
GMTTkMuon   GMTTkMuonNStubsIsoEndcap   Muon  0.83  2.4   -1 0.15  NStubsFlag2 0.1   -1 -1 -1 GMTTkMuonNStubsIsoEndcap 100   0  150   30 -3 3  200   0  5  110   0  110   Muon
GMTTkMuon   GMTTkMuonNStubsIsoE  Muon  -1 2.4   -1 0.15  NStubsFlag2 0.1   3  -1 -1 GMTTkMuonNStubsIsoE  100   0  150 30 -3 3  200   0  5  110   0  110   Muon
GMTTkMuon   GMTTkMuonNStubsIsoB  Muon  -1 2.4   -1 0.15  NStubsFlag2 0.1   1  -1 -1 GMTTkMuonNStubsIsoB  100   0  150 30 -3 3  200   0  5  110   0  110   Muon
GMTTkMuon   GMTTkMuonNStubsIsoO  Muon  -1 2.4   2.4   0.15  NStubsFlag2 0.1   2  -1 -1 GMTTkMuonNStubsIsoO  100   0  150 30 -3 3  200   0  5  110   0  110   Muon
GMTTkMuon   GMTTkMuonNStubsIsoEEta  Muon  1.24  2.4   -1 0.15  NStubsFlag2 0.1   -1 -1 -1 GMTTkMuonNStubsIsoEEta  100 0  150   30 -3 3  200   0  5  110   0  110   Muon
GMTTkMuon   GMTTkMuonNStubsIsoBEta  Muon  -1 0.83  -1 0.15  NStubsFlag2 0.1   -1 -1 -1 GMTTkMuonNStubsIsoBEta  100   0   150   30 -3 3  200   0  5  110   0  110   Muon
GMTTkMuon   GMTTkMuonNStubsIsoOEta  Muon  0.83  1.24  -1 0.15  NStubsFlag2 0.1   -1 -1 -1 GMTTkMuonNStubsIsoOEta  100 0  150   30 -3 3  200   0  5  110   0  110   Muon
GMTTkMuon   GMTTkMuonNStubsLDR   Muon  -1 2.4   -1 -1 NStubsFlag2 1  -1 -1 -1 GMTTkMuonNStubsLDR   100   0  150   30 -3  3  200   0  5  110   0  110   Muon
# GMTMuon muon                                                                         
GMTMuon  GMTMuon  Muon  -1 2.4   -1 -1 None  0.3   -1 -1 -1 GMTMuon  100   0  150   30 -3 3  200   0  5  110   0  110 Muon
GMTMuon  GMTMuonIso  Muon  -1 2.4   -1 0.15  None  0.3   -1 -1 -1 GMTMuonIso  100   0  150   30 -3 3  200   0  5  110 0  110   Muon
GMTMuon  GMTMuonIsoBarrel  Muon  -1 0.83  -1 0.15  None  0.3   -1 -1 -1 GMTMuonIsoBarrel  100   0  150   30 -3 3  200 0  5  110   0  110   Muon
GMTMuon  GMTMuonIsoEndcap  Muon  0.83  2.4   -1 0.15  None  0.3   -1 -1 -1 GMTMuonIsoEndcap  100   0  150   30 -3 3  200 0  5  110   0  110   Muon
GMTMuon  GMTMuonIsoE Muon  -1 2.4   -1 0.15  None  0.3   3  -1 -1 GMTMuonIsoE 100   0  150   30 -3 3  200   0  5  110 0  110   Muon
GMTMuon  GMTMuonIsoB Muon  -1 2.4   -1 0.15  None  0.3   1  -1 -1 GMTMuonIsoB 100   0  150   30 -3 3  200   0  5  110 0  110   Muon
GMTMuon  GMTMuonIsoO Muon  -1 2.4   2.4   0.15  None  0.3   2  -1 -1 GMTMuonIsoO 100   0  150   30 -3 3  200   0  5  110 0  110   Muon
GMTMuon  GMTMuonIsoEEta Muon  1.24  2.4   -1 0.15  None  0.3   -1 -1 -1 GMTMuonIsoEEta 100   0  150   30 -3 3  200   0   5  110   0  110   Muon
GMTMuon  GMTMuonIsoBEta Muon  -1 0.83  -1 0.15  None  0.3   -1 -1 -1 GMTMuonIsoBEta 100   0  150   30 -3 3  200   0  5   110   0  110   Muon
GMTMuon  GMTMuonIsoOEta Muon  0.83  1.24  -1 0.15  None  0.3   -1 -1 -1 GMTMuonIsoOEta 100   0  150   30 -3 3  200   0   5  110   0  110   Muon
GMTMuon  GMTMuonLDR  Muon  -1 2.4   -1 -1 None  1  -1 -1 -1 GMTMuonLDR  100   0  150   30 -3 3  200   0  5  110   0  110 Muon
GMTMuon  GMTMuonQual Muon  -1 2.4   -1 -1 Overlap12   0.3   -1 -1 -1 GMTMuonQual 100   0  150   30 -3 3  200   0  5  110 0  110   Muon
GMTMuon  GMTMuonQualIso Muon  -1 2.4   -1 0.15  Overlap12   0.3   -1 -1 -1 GMTMuonQualIso 100   0  150   30 -3 3  200 0  5  110   0  110   Muon
GMTMuon  GMTMuonIsoQualBarrel Muon  -1 0.83  -1 0.15  Overlap12   0.3   -1 -1 -1 GMTMuonIsoQualBarrel 100   0  150   30  -3 3  200   0  5  110   0  110   Muon
GMTMuon  GMTMuonIsoQualEndcap Muon  0.83  2.4   -1 0.15  Overlap12   0.3   -1 -1 -1 GMTMuonIsoQualEndcap 100   0  150 30 -3 3  200   0  5  110   0  110   Muon
GMTMuon  GMTMuonQualIsoE   Muon  -1 2.4   -1 0.15  Overlap12   0.3   3  -1 -1 GMTMuonQualIsoE   100   0  150   30 -3 3 200   0  5  110   0  110   Muon
GMTMuon  GMTMuonQualIsoB   Muon  -1 2.4   -1 0.15  Overlap12   0.3   1  -1 -1 GMTMuonQualIsoB   100   0  150   30 -3 3 200   0  5  110   0  110   Muon
GMTMuon  GMTMuonQualIsoO   Muon  -1 2.4   2.4   0.15  Overlap12   0.3   2  -1 -1 GMTMuonQualIsoO   100   0  150   30 -3  3  200   0  5  110   0  110   Muon
GMTMuon  GMTMuonQualIsoEEta   Muon  1.24  2.4   -1 0.15  Overlap12   0.3   -1 -1 -1 GMTMuonQualIsoEEta   100   0  150 30 -3 3  200   0  5  110   0  110   Muon
GMTMuon  GMTMuonQualIsoBEta   Muon  -1 0.83  -1 0.15  Overlap12   0.3   -1 -1 -1 GMTMuonQualIsoBEta   100   0  150   30  -3 3  200   0  5  110   0  110   Muon
GMTMuon  GMTMuonQualIsoOEta   Muon  0.83  1.24  -1 0.15  Overlap12   0.3   -1 -1 -1 GMTMuonQualIsoOEta   100   0  150 30 -3 3  200   0  5  110   0  110   Muon
GMTMuon  GMTMuonQualLDR Muon  -1 2.4   -1 -1 Overlap12   1  -1 -1 -1 GMTMuonQualLDR 100   0  150   30 -3 3  200   0  5   110   0  110   Muon
# StandaloneMuon, no quality selection vs with quality selection in endcap                                                                         
StandaloneMuon StandaloneMuon Muon  -1 2.4   -1 -1 None  0.3   -1 -1 -1 StandaloneMuon 100   0  150   30 -3 3  200   0   5  110   0  110   Muon
StandaloneMuon StandaloneMuonIso Muon  -1 2.4   -1 0.15  None  0.3   -1 -1 -1 StandaloneMuonIso 100   0  150   30 -3 3 200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoE   Muon  -1 2.8   -1 0.15  None  0.3   3  -1 -1 StandaloneMuonIsoE   100   0  150   30  -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoB   Muon  -1 2.8   -1 0.15  None  0.3   1  -1 -1 StandaloneMuonIsoB   100   0  150   30  -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoO   Muon  -1 2.8   -1 0.15  None  0.3   2  -1 -1 StandaloneMuonIsoO   100   0  150   30  -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoExtended  Muon  -1 2.8   -1 0.15  None  0.3   4  -1 -1 StandaloneMuonIsoExtended  100 0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoEEta   Muon  1.24  2.4   -1 0.15  None  0.3   -1 -1 -1 StandaloneMuonIsoEEta   100   0   150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoBEta   Muon  -1 0.83  -1 0.15  None  0.3   -1 -1 -1 StandaloneMuonIsoBEta   100   0  150 30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoOEta   Muon  0.83  1.24  -1 0.15  None  0.3   -1 -1 -1 StandaloneMuonIsoOEta   100   0   150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoExtendedEta  Muon  2.4   2.8   -1 0.15  None  0.3   -1 -1 -1 StandaloneMuonIsoExtendedEta   100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonLDR Muon  -1 2.8   -1 -1 None  1  -1 -1 -1 StandaloneMuonLDR 100   0  150   30 -3 3  200 0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonQual   Muon  -1 2.4   -1 -1 Overlap12EndcapJaana1345   0.3   -1 -1 -1 StandaloneMuonQual 100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonQualIso   Muon  -1 2.4   -1 0.15  Overlap12EndcapJaana1345   0.3   -1 -1 -1 StandaloneMuonQualIso 100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonQualIsoE  Muon  -1 2.8   -1 0.15  Overlap12EndcapJaana1345   0.3   3  -1 -1 StandaloneMuonQualIsoE   100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonQualIsoB  Muon  -1 2.8   -1 0.15  Overlap12EndcapJaana1345   0.3   1  -1 -1 StandaloneMuonQualIsoB   100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonQualIsoO  Muon  -1 2.8   -1 0.15  Overlap12EndcapJaana1345   0.3   2  -1 -1 StandaloneMuonQualIsoO   100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonQualIsoExtended Muon  -1 2.8   -1 0.15  Overlap12EndcapJaana1345   0.3   4  -1 -1 StandaloneMuonQualIsoExtended  100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonQualIsoEEta  Muon  1.24  2.4   -1 0.15  Overlap12EndcapJaana1345   0.3   -1 -1 -1 StandaloneMuonQualIsoEEta   100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonQualIsoBEta  Muon  -1 0.83  -1 0.15  Overlap12EndcapJaana1345   0.3   -1 -1 -1 StandaloneMuonQualIsoBEta   100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonQualIsoOEta  Muon  0.83  1.24  -1 0.15  Overlap12EndcapJaana1345   0.3   -1 -1 -1 StandaloneMuonQualIsoOEta   100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonQualIsoExtendedEta Muon  2.4   2.8   -1 0.15  Overlap12EndcapJaana1345   0.3   -1 -1 -1 StandaloneMuonQualIsoExtendedEta   100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonQualLDR   Muon  -1 2.8   -1 -1 Overlap12EndcapJaana1345   1  -1 -1 -1 StandaloneMuonQualLDR 100   0  150   30 -3 3  200   0  5  110   0  110   Muon
# TkPhoton + Loose track ID + tracker isolation                                                                         
TkPhotonTrackID   TkPhotonTrackID   Photon   -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkPhotonTrackID   100   0  150   30  -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkPhotonTrackIDIso   Photon   -1 2.4   -1 0.15  UseFlag  0.15  -1 -1 -1 TkPhotonTrackIDIso   100   0   150   30 -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkPhotonTrackIDIsoWide  Photon   -1 3  -1 0.15  UseFlag  0.15  -1 -1 -1 TkPhotonTrackIDIsoWide  100 0  150   30 -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkIsoPhotonTrackID   Photon   -1 2.4   -1 0.15  UseFlag  0.15  -1 0.25  0.205 TkIsoPhotonTrackID   100 0  150   30 -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkIsoPhotonTrackIDWide  Photon   -1 3  -1 0.15  UseFlag  0.15  -1 0.25  0.205 TkIsoPhotonTrackIDWide   100   0  150   30 -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkIsoPhotonTrackIDExtended Photon   2.4   3  -1 0.15  UseFlag  0.15  -1 0.25  0.205 TkIsoPhotonTrackIDExtended  100   0  150   30 -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkPhotonTrackIDLDR   Photon   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 TkPhotonTrackIDLDR   100   0  150 30 -3 3  200   0  0.6   100   0  10 EG
# TkPhoton + Loose track ID + tracker isolation (PV)                                                                        
TkPhotonPVTrackID TkPhotonPVTrackID Photon   -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkPhotonPVTrackID 100   0  150   30  -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVTrackIDIso Photon   -1 2.4   -1 0.15  UseFlag  0.15  -1 -1 -1 TkPhotonPVTrackIDIso 100   0   150   30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVTrackIDIsoWide   Photon   -1 3  -1 0.15  UseFlag  0.15  -1 -1 -1 TkPhotonPVTrackIDIsoWide 100   0  150   30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkIsoPhotonPVTrackID Photon   -1 2.4   -1 0.15  UseFlag  0.15  -1 0.068 0.051 TkIsoPhotonPVTrackID 100 0  150   30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkIsoPhotonPVTrackIDWide   Photon   -1 3  -1 0.15  UseFlag  0.15  -1 0.068 0.051 TkIsoPhotonPVTrackIDWide 100   0  150   30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVTrackIDLDR Photon   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 TkPhotonPVTrackIDLDR 100   0  150 30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVEleTrackID Electron -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkPhotonPVEleTrackID 100   0  150 30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVEleTrackIDIso Electron -1 2.4   -1 0.15  UseFlag  0.15  -1 -1 -1 TkPhotonPVEleTrackIDIso 100 0  150   30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkIsoPhotonPVEleTrackID Electron -1 2.4   -1 0.15  UseFlag  0.15  -1 0.068 0.051 TkIsoPhotonPVEleTrackID  100   0  150   30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVEleTrackIDLDR Electron -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 TkPhotonPVEleTrackIDLDR 100   0   150   30 -3 3  200   0  0.25  100   0  10 EG
# Standalone photons: EG + photon ID                                                                           
EG EG Photon   -1 2.4   -1 -1 UseFlag  0.2   -1 -1 -1 EG 100   0  150   30 -3 3  200   0  5  100   0  10 EG
EG EGIso Photon   -1 2.4   -1 0.1   UseFlag  0.2   -1 -1 -1 EGIso 100   0  150   30 -3 3  200   0  5  100   0  10 EG
EG EGWideIso   Photon   -1 2.8   -1 0.1   UseFlag  0.2   -1 -1 -1 EGWideIso   100   0  150   30 -3 3  200   0  5  100 0  10 EG
EG EGLDR Photon   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 EGLDR 100   0  150   30 -3 3  200   0  5  100   0  10 EG
EG EGExtendedIso  Photon   2.4   2.8   -1 0.1   UseFlag  0.2   -1 -1 -1 EGExtendedIso  100   0  150   30 -3 3  200   0   5  100   0  10 EG
# Standalone electrons: EG + loose track ID                                                                          
EGTrackID   EGTrackID   Electron -1 2.4   -1 -1 UseFlag  0.2   -1 -1 -1 EGTrackID   100   0  150   30 -3 3  200   0  5   100   0  10 EG
EGTrackID   EGTrackIDIso   Electron -1 2.4   -1 0.15  UseFlag  0.2   -1 -1 -1 EGTrackIDIso   100   0  150   30 -3 3  200 0  5  100   0  10 EG
EGTrackID   EGTrackIDWideIso  Electron -1 2.8   -1 0.15  UseFlag  0.2   -1 -1 -1 EGTrackIDWideIso  100   0  150   30 -3  3  200   0  5  100   0  10 EG
EGTrackID   EGTrackIDLDR   Electron -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 EGTrackIDLDR   100   0  150   30 -3 3  200   0   5  100   0  10 EG
EGTrackID   EGTrackIDExtendedIso Electron 2.4   2.8   -1 0.15  UseFlag  0.2   -1 -1 -1 EGTrackIDExtendedIso 100   0  150 30 -3 3  200   0  5  100   0  10 EG
EGTrackID   EGTrackIDZ  ZElectron   -1 2.4   -1 -1 UseFlag  0.2   -1 -1 -1 EGTrackIDZ  100   0  150   30 -3 3  200   0   5  100   0  10 EG
EGTrackID   EGTrackIDZIso  ZElectron   -1 2.4   -1 0.15  UseFlag  0.2   -1 -1 -1 EGTrackIDZIso  100   0  150   30 -3 3 200   0  5  100   0  10 EG
EGTrackID   EGTrackIDZWideIso ZElectron   -1 2.8   -1 0.15  UseFlag  0.2   -1 -1 -1 EGTrackIDZWideIso 100   0  150   30  -3 3  200   0  5  100   0  10 EG
EGTrackID   EGTrackIDZLDR  ZElectron   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 EGTrackIDZLDR  100   0  150   30 -3 3  200 0  5  100   0  10 EG
EGTrackID   EGTrackIDZExtendedIso   ZElectron   2.4   2.8   -1 0.15  UseFlag  0.2   -1 -1 -1 EGTrackIDZExtendedIso   100 0  150   30 -3 3  200   0  5  100   0  10 EG
# track-matched electrons: TkElectron + loose track ID                                                                          
TkElectronTrackID TkElectronTrackID Electron -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkElectronTrackID 100   0  150   30  -3 3  200   0  1  100   0  10 EG
TkElectronTrackID TkElectronTrackIDIso Electron -1 2.4   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronTrackIDIso 100   0   150   30 -3 3  200   0  1  100   0  10 EG
TkElectronTrackID TkElectronTrackIDWideIso   Electron -1 2.8   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronTrackIDWideIso 100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectronTrackID TkElectronTrackIDExtendedIso  Electron 2.4   2.8   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronTrackIDExtendedIso   100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectronTrackID TkElectronTrackIDLDR Electron -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 TkElectronTrackIDLDR 100   0  150 30 -3 3  200   0  1  100   0  10 EG
# Track-matched isolated electrons: TkElectron + other ID + Tracker Isolation                                                                         
TkElectron  TkElectron  Electron -1 2.4   -1 -1 BarrelNoneEndcapThree   0.15  -1 -1 -1 TkElectron  100   0  150   30 -3  3  200   0  1  100   0  10 EG
TkElectron  TkElectronIso  Electron -1 2.4   -1 0.15  BarrelNoneEndcapThree   0.15  -1 -1 -1 TkElectronIso  100   0  150 30 -3 3  200   0  1  100   0  10 EG
TkElectron  TkElectronIsoWide Electron -1 2.8   -1 0.15  BarrelNoneEndcapThree   0.15  -1 -1 -1 TkElectronIsoWide 100 0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectron  TkIsoElectron  Electron -1 2.4   -1 0.15  BarrelNoneEndcapThree   0.15  -1 0.13  0.28  TkIsoElectron  100 0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectron  TkIsoElectronWide Electron -1 2.8   -1 0.15  BarrelNoneEndcapThree   0.15  -1 0.13  0.28  TkIsoElectronWide  100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectron  TkIsoElectronExtended   Electron 2.4   2.8   -1 0.15  BarrelNoneEndcapThree   0.15  -1 0.13  0.28  TkIsoElectronExtended 100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectron  TkElectronLDR  Electron -1 2.4   -1 -1 BarrelNoneEndcapThree   1  -1 -1 -1 TkElectronLDR  100   0  150   30  -3 3  200   0  1  100   0  10 EG
# PFPhase1Jet                                                                          
Phase1PuppiJet Phase1PuppiJet GenJet   -1 2.4   -1 -1 None  0.3   -1 -1 -1 Phase1PuppiJet 200   0  600   50 -3 3  200 0  5  100   0  10 Jet
Phase1PuppiJet Phase1PuppiJetWide   GenJet   -1 5  -1 -1 None  0.3   -1 -1 -1 Phase1PuppiJetWide   200   0  600   50 -5.2   5.2   200   0  5  100   0  10 Jet
Phase1PuppiJet Phase1PuppiJetABitForward  GenJet   2.4   3.5   -1 -1 None  0.3   -1 -1 -1 Phase1PuppiJetABitForward  200 0  600   50 -5.2  5.2   200   0  5  100   0  10 Jet
Phase1PuppiJet Phase1PuppiJetForward   GenJet   2.4   5  -1 -1 None  0.3   -1 -1 -1 Phase1PuppiJetForward   200   0  600 50 -5.2  5.2   200   0  5  100   0  10 Jet
Phase1PuppiJet Phase1PuppiJetLDR GenJet   -1 2.4   -1 -1 None  1.5   -1 -1 -1 Phase1PuppiJetLDR 200   0  600   50 -3 3 200   0  5  100   0  10 Jet
Phase1PuppiJet Phase1PuppiJetForwardLDR   GenJet   2.4   5  -1 -1 None  1.5   -1 -1 -1 Phase1PuppiJetForwardLDR   200 0  600   50 -5.2  5.2   200   0  5  100   0  10 Jet
Phase1PuppiJet Phase1PuppiJet25  GenJet   -1 2.4   25 -1 None  0.3   -1 -1 -1 Phase1PuppiJet25  200   0  600   50 -3 3 200   0  5  100   0  10 Jet
Phase1PuppiJet Phase1PuppiJetWide25 GenJet   -1 5  25 -1 None  0.3   -1 -1 -1 Phase1PuppiJetWide25 200   0  600   50 -5.2   5.2   200   0  5  100   0  10 Jet
Phase1PuppiJet Phase1PuppiJetABitForward25   GenJet   2.4   3.5   25 -1 None  0.3   -1 -1 -1 Phase1PuppiJetABitForward25 200   0  600   50 -5.2  5.2   200   0  5  100   0  10 Jet
Phase1PuppiJet Phase1PuppiJetForward25 GenJet   2.4   5  25 -1 None  0.3   -1 -1 -1 Phase1PuppiJetForward25 200   0  600 50 -5.2  5.2   200   0  5  100   0  10 Jet
Phase1PuppiJet Phase1PuppiJetLDR25  GenJet   -1 2.4   25 -1 None  1.5   -1 -1 -1 Phase1PuppiJetLDR25  200   0  600   50  -3 3  200   0  5  100   0  10 Jet
Phase1PuppiJet Phase1PuppiJetForwardLDR25 GenJet   2.4   5  25 -1 None  1.5   -1 -1 -1 Phase1PuppiJetForwardLDR25 200 0  600   50 -5.2  5.2   200   0  5  100   0  10 Jet
# PFPhase1 HT, MHT                                                                           
Phase1PuppiHT0 Phase1PuppiHT  HT30  -1 -1 -1 -1 None  -1 -1 -1 -1 Phase1PuppiHT  200   0  1200  50 -3 3  200   0  5  100 0  10 HT
Phase1PuppiMHT0   Phase1PuppiMHT15  MHT15 -1 -1 -1 -1 None  -1 -1 -1 -1 Phase1PuppiMHT15  200   0  1200  50 -3 3  200 0  5  100   0  10 HT
Phase1PuppiMHT0   Phase1PuppiMHT30  MHT30 -1 -1 -1 -1 None  -1 -1 -1 -1 Phase1PuppiMHT30  200   0  1200  50 -3 3  200 0  5  100   0  10 HT
Phase1PuppiMET Phase1PuppiMET MET   -1 -1 -1 -1 None  -1 -1 -1 -1 Phase1PuppiMET 100   0  1000  50 -3 3  200   0  5  100 0  10 HT
# PuppiMET                                                                          
PuppiMET PuppiMET MET   -1 -1 -1 -1 None  -1 -1 -1 -1 PuppiMET 100   0  1000  50 -3 3  200   0  5  100   0  10 HT
# CaloJets                                                                          
CaloJet  CaloJet  GenJet   -1 2.4   -1 -1 None  0.3   -1 -1 -1 CaloJet  150   0  700   50 -3 3  200   0  5  100   0  10  Jet
CaloJet  CaloJetWide GenJet   -1 5  -1 -1 None  0.3   -1 -1 -1 CaloJetWide 150   0  700   50 -5.2  5.2   200   0  5  100 0  10 Jet
CaloJet  CaloJetBarrel  GenJet   -1 1.5   -1 -1 None  0.3   -1 -1 -1 CaloJetBarrel  150   0  700   50 -3 3  200   0  5   100   0  10 Jet
CaloJet  CaloJetEndcap  GenJet   1.5   2.4   -1 -1 None  0.3   -1 -1 -1 CaloJetEndcap  150   0  700   50 -3 3  200   0   5  100   0  10 Jet
CaloJet  CaloJetFoward  GenJet   2.4   5  -1 -1 None  0.3   -1 -1 -1 CaloJetFoward  150   0  700   50 -5.2  5.2   200 0  5  100   0  10 Jet
CaloJet  CaloJetLDR  GenJet   -1 2.4   -1 -1 None  1.5   -1 -1 -1 CaloJetLDR  150   0  700   50 -3 3  200   0  5  100 0  10 Jet
CaloJet  CaloJetWideLDR GenJet   -1 5  -1 -1 None  1.5   -1 -1 -1 CaloJetWideLDR 150   0  700   50 -5.2  5.2   200   0   5  100   0  10 Jet
# CaloHT                                                                         
CaloHT0  CaloHT   HT30  -1 -1 -1 -1 None  -1 -1 -1 -1 CaloHT   200   0  1200  50 -3 3  200   0  5  100   0  10 HT
# TrackerJet                                                                           
TrackerJet  TrackerJet  GenJet   -1 2.4   -1 -1 None  0.4   -1 -1 -1 TrackerJet  150   0  700   50 -3 3  200   0  5  100 0  10 Jet
TrackerJet  TrackerJetWide GenJet   -1 5  -1 -1 None  0.4   -1 -1 -1 TrackerJetWide 150   0  700   50 -5.2  5.2   200 0  5  100   0  10 Jet
TrackerJet  TrackerJetBarrel  GenJet   -1 1.5   -1 -1 None  0.4   -1 -1 -1 TrackerJetBarrel  150   0  700   50 -3 3  200 0  5  100   0  10 Jet
TrackerJet  TrackerJetEndcap  GenJet   1.5   2.4   -1 -1 None  0.4   -1 -1 -1 TrackerJetEndcap  150   0  700   50 -3 3 200   0  5  100   0  10 Jet
TrackerJet  TrackerJetFoward  GenJet   2.4   5  -1 -1 None  0.4   -1 -1 -1 TrackerJetFoward  150   0  700   50 -5.2  5.2 200   0  5  100   0  10 Jet
TrackerJet  TrackerJetLDR  GenJet   -1 2.4   -1 -1 None  1.5   -1 -1 -1 TrackerJetLDR  150   0  700   50 -3 3  200   0   5  100   0  10 Jet
TrackerJet  TrackerJetWideLDR GenJet   -1 5  -1 -1 None  1.5   -1 -1 -1 TrackerJetWideLDR 150   0  700   50 -5.2  5.2   200   0  5  100   0  10 Jet
TrackerJet  TrackerJetCharged ChargedGenJet  -1 2.4   -1 -1 None  0.4   -1 -1 -1 TrackerJetCharged 150   0  700   50 -3  3  200   0  5  100   0  10 Jet
TrackerJet  TrackerJetChargedWide   ChargedGenJet  -1 5  -1 -1 None  0.4   -1 -1 -1 TrackerJetChargedWide   150   0  700 50 -5.2  5.2   200   0  5  100   0  10 Jet
TrackerJet  TrackerJetChargedBarrel ChargedGenJet  -1 1.5   -1 -1 None  0.4   -1 -1 -1 TrackerJetChargedBarrel 150   0   700   50 -3 3  200   0  5  100   0  10 Jet
TrackerJet  TrackerJetChargedEndcap ChargedGenJet  1.5   2.4   -1 -1 None  0.4   -1 -1 -1 TrackerJetChargedEndcap 150 0  700   50 -3 3  200   0  5  100   0  10 Jet
TrackerJet  TrackerJetChargedFoward ChargedGenJet  2.4   5  -1 -1 None  0.4   -1 -1 -1 TrackerJetChargedFoward 150   0   700   50 -5.2  5.2   200   0  5  100   0  10 Jet
TrackerJet  TrackerJetChargedLDR ChargedGenJet  -1 2.4   -1 -1 None  1.5   -1 -1 -1 TrackerJetChargedLDR 150   0  700 50 -3 3  200   0  5  100   0  10 Jet
TrackerJet  TrackerJetChargedWideLDR   ChargedGenJet  -1 5  -1 -1 None  1.5   -1 -1 -1 TrackerJetChargedWideLDR   150 0  700   50 -5.2  5.2   200   0  5  100   0  10 Jet
# TrackerHT                                                                         
TrackerHT0  TrackerHT   HT30  -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerHT   200   0  1200  50 -3 3  200   0  5  100   0  10  HT
TrackerHT0  TrackerHTCharged  ChargedHT30 -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerHTCharged  200   0  1200  50 -3 3  200 0  5  100   0  10 HT
# TrackerHT                                                                         
TrackerMHT0 TrackerMHT  MHT30 -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerMHT  100   0  1000  50 -3 3  200   0  5  100   0  10  HT
TrackerMHT0 TrackerMHTCharged ChargedMHT30   -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerMHTCharged 100   0  1000  50 -3 3  200 0  5  100   0  10 HT
TrackerMHT0 TrackerMHTMET  MET   -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerMHTMET  100   0  1000  50 -3 3  200   0  5  100 0  10 HT
TrackerMHT0 TrackerMHTChargedMET ChargedMET  -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerMHTChargedMET 100   0  1000  50 -3 3 200   0  5  100   0  10 HT
# TrackerMET                                                                           
TrackerMET  TrackerMET  MET   -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerMET  100   0  1000  50 -3 3  200   0  5  100   0  10  HT
TrackerMET  TrackerMETCharged ChargedMET  -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerMETCharged 100   0  1000  50 -3 3  200 0  5  100   0  10 HT
# SeededConePuppiJets                                                                           
SeededConePuppiJet   SeededConePuppiJet   GenJet   -1 2.4   -1 -1 None  0.35  -1 -1 -1 SeededConePuppiJet   150   0  700 50 -3 3  200   0  5  100   0  10 Jet
SeededConePuppiJet   SeededConePuppiJetWide  GenJet   -1 5  -1 -1 None  0.35  -1 -1 -1 SeededConePuppiJetWide  150   0   700   50 -5.2  5.2   200   0  5  100   0  10 Jet
SeededConePuppiJet   SeededConePuppiJetBarrel   GenJet   -1 1.5   -1 -1 None  0.35  -1 -1 -1 SeededConePuppiJetBarrel 150   0  700   50 -3 3  200   0  5  100   0  10 Jet
SeededConePuppiJet   SeededConePuppiJetEndcap   GenJet   1.5   2.4   -1 -1 None  0.35  -1 -1 -1 SeededConePuppiJetEndcap 150   0  700   50 -3 3  200   0  5  100   0  10 Jet
SeededConePuppiJet   SeededConePuppiJetForward  GenJet   2.4   5  -1 -1 None  0.35  -1 -1 -1 SeededConePuppiJetForward   150   0  700   50 -5.2  5.2   200   0  5  100   0  10 Jet
SeededConePuppiJet   SeededConePuppiJetLDR   GenJet   -1 2.4   -1 -1 None  1.5   -1 -1 -1 SeededConePuppiJetLDR   150 0  700   50 -3 3  200   0  5  100   0  10 Jet
SeededConePuppiJet   SeededConePuppiJetWideLDR  GenJet   -1 5  -1 -1 None  1.5   -1 -1 -1 SeededConePuppiJetWideLDR  150 0  700   50 -5.2  5.2   200   0  5  100   0  10 Jet
